[submodule "lib/CRCpp"]
	path = lib/CRCpp
	url = https://github.com/d-bahr/CRCpp.git
[submodule "lib/uLog"]
	path = lib/uLog
	url = https://github.com/brandonbraun653/uLog.git
[submodule "lib/type_safe"]
	path = lib/type_safe
	url = https://github.com/foonathan/type_safe.git
[submodule "lib/ctre"]
	path = lib/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "lib/embedded_template_library/etl"]
	path = lib/embedded_template_library/etl
	url = https://github.com/ETLCPP/etl.git
