[submodule "lib/CRCpp"]
	path = lib/CRCpp
	url = https://github.com/d-bahr/CRCpp.git
[submodule "lib/type_safe"]
	path = lib/type_safe
	url = https://github.com/foonathan/type_safe.git
[submodule "lib/ctre"]
	path = lib/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "lib/embedded_template_library/etl"]
	path = lib/embedded_template_library/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "lib/littlefs/lfs"]
	path = lib/littlefs/lfs
	url = https://github.com/ARMmbed/littlefs.git
[submodule "lib/segger"]
	path = lib/segger
	url = https://github.com/brandonbraun653/SeggerSysView.git
[submodule "lib/spiffs"]
	path = lib/spiffs
	url = https://github.com/brandonbraun653/spiffs.git
[submodule "lib/nanoprintf"]
	path = lib/nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf.git
[submodule "lib/nanopb/nanopb"]
	path = lib/nanopb/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "lib/liquid/liquid"]
	path = lib/liquid/liquid
	url = https://github.com/jgaeddert/liquid-dsp.git
